@use '../utils/variables' as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-text-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-semibold;
  line-height: $line-height-tight;
}

h1 {
  font-size: $font-size-2xl;
}
h2 {
  font-size: $font-size-xl;
}
h3 {
  font-size: $font-size-lg;
}
