@use '../utils/variables' as *;
@use '../utils/mixins' as *;

// 노출되지 않을 영역
.none {
  display: none;
}

.is-none {
  display: none !important;
}

// 브라우저 크기별 레이아웃 보이기(노출 여부)

// 모바일
.mb-hide {
  @include responsive(mobile) {
    display: none !important;
  }
}

.mb-show {
  display: none !important;

  @include responsive(mobile) {
    display: block !important;
  }
}

.mb-show-flex {
  display: none !important;

  @include responsive(mobile) {
    display: flex !important;
  }
}

.mb-show-ib {
  display: none !important;

  @include responsive(mobile) {
    display: inline-block !important;
  }
}

// 태블릿
.tab-hide {
  @include responsive(tablet) {
    display: none !important;
  }
}

.tab-show {
  display: none !important;

  @include responsive(tablet) {
    display: block !important;
  }
}

.tab-show-flex {
  display: none !important;

  @include responsive(tablet) {
    display: flex !important;
  }
}

.tab-show-ib {
  display: none !important;

  @include responsive(tablet) {
    display: inline-block !important;
  }
}