@use '../utils/variables' as *;
@use '../utils/mixins' as *;

// 노출되지 않을 영역
.none {
  display: none;
}

.is-none {
  display: none !important;
}

// 모바일+태블릿(1024px 미만) 노출 제어
.mo-hide {
  @include mobile {
    display: none !important;
  }
}

.mo-show {
  display: none !important;

  @include mobile {
    display: block !important;
  }
}

.mo-show-flex {
  display: none !important;

  @include mobile {
    display: flex !important;
  }
}

.mo-show-ib {
  display: none !important;

  @include mobile {
    display: inline-block !important;
  }
}