@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.btn{
  @include btn-base;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  text-align: center;
  cursor: pointer;

  &.btn-full {
    width: 100%;
  }
}

.btn-grp{
  display: flex;
  align-items: center;
  justify-content: center;
}