@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.btn{
  @include btn-base;
  text-align: center;

  &.btn-full {
    width: 100%;
  }
}

.btn-grp{
  display: flex;
  align-items: center;
  justify-content: center;
}