@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.chat-index {
  height: calc(100vh - #{$header-height});

  .chat-index-header {
    margin-bottom: 27px;
  }

  .chat-index-title {
    font-size: 2.25rem;
    font-weight: $font-weight-bold;
    line-height: 150%;
    color: $color-text-primary;
    margin-bottom: 8px;
  }

  .chat-index-description {
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
  }

  .chat-index-input-wrapper {
    width: 100%;
  }

  .btn-grp {
    gap: 11px;
  }
}
