@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.library-index{
  height: calc(100vh - #{$header-height});
  background-color: #fff;

  .left-grp{
    gap: 8px;
    .library-description{
      color: #6F7A93;
      font-size: $font-size-base;
    }
  }

  .right-grp{
    gap: 8px;

    .total{
      font-size: $font-size-base;
      color: #6F7A93;
      white-space: nowrap;
      strong{
        color: #4D5462;
      }
    }
  }

  .library-header-wrapper{
    padding: 12px 16px;
    .btn-grp{
      gap: 4px;
    }
  }

  // library-content-wrapper ============================
  .library-content-wrapper{
    gap: 12px;
    height: calc(100vh - 102px);
    padding: 0 16px 6px;
    align-items: flex-start;
    overflow-x: auto;
    max-width: 100%;
    scrollbar-gutter: stable;
    @include custom-scrollbar;

    .library-list-grp{
      flex-shrink: 0;
      width: 328px;
      max-height: calc(100vh - 114px);
      padding: 12px;
      border-radius: 8px;
      background: #ECF0F3;
    }

    .library-list-add{
      flex-shrink: 0;
      width: 304px;
      
      .btn-library-list-add{
        gap: 4px;
        width: 100%;
        height: 40px;
        border-radius: 8px;
        border: 1px dashed #CDD1D5;
        background: #FFF;
        font-size: $font-size-base;
        color: #8A949E;
        font-weight: 600;

        &:hover{
          background: #F5F5F5;
        }
      }
    }

    .library-list-header{
      padding-bottom: 8px;
      .left-grp{
        gap: 4px;
      }
      .list-title{
        color: #2D3139;
        font-size: $font-size-xl;
        font-weight: 700;
        .icon-diamond{
          margin-right: 6px;
        }
      }
      .card-count{
        height: 24px;
        line-height: 24px;
        white-space: nowrap;
        padding: 0 8px;
        color: #828FA9;
        font-size: $font-size-xs;
        border-radius: 24px;
        background: #DCE4E9;
      }
    }

    .library-card-grp{
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      height: 100%;
      max-height: calc(100vh - 173px);
      overflow-y: auto;
      @include custom-scrollbar;

      .library-card{
        width: 100%;
        padding: 12px;
        border-radius: 8px;
        border: 1px solid #C6D2DB;
        background: #FFF;
        transition: border-color 0.3s ease;

        &.type-new-card{
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #DCE4E9;
          background: #ECF0F3;
          height: 142px;
        }

        &:hover{
          cursor: pointer;
          border-color: $color-primary-hover;
        }

        .library-card-new-card-content{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 4px;
          font-size: $font-size-sm;
          color: #94A3B8;
        }

        .library-card-top{
          padding-bottom: 4px;

          .library-card-badge{
            display: flex;
            align-items: center;
            gap: 4px;
            height: 22px;
            padding: 0 8px;
            border-radius: 24px;
            background: #F0F6FE;
            color: #3C69DB;
            font-size: $font-size-xs;

            &.badge--data-line{
              .badge-icon{
                @include icon-file('data-line-small');
              }
            }
            &.badge--basic-chat{
              background: #F8F4D6;
              color: #AC5E00;
              .badge-icon{
                @include icon-file('comment-other');
              }
            }
            &.badge--manual-ai{
              background: #F4EBFF;
              color: #8F4FDF;
              .badge-icon{
                @include icon-file('book');
              }
            }
          }
        }

        .library-card-title{
          color: #33363D;
          font-size: $font-size-lg;
          @include ellipsis(1);
        }

        .library-card-desc{
          min-height: 36px;
          color: #828FA9;
          font-size: $font-size-sm;
          margin: 4px 0 8px;
          @include ellipsis(2);
        }

        .library-card-meta{
          gap: 4px;
          .library-card-date{
            flex-shrink: 0;
            color: #C6D2DB;
            font-size: $font-size-xs;
          }

          .library-card-tags{
            flex-shrink: 1;
            min-width: 0;
            gap: 4px;
            color: #6D7882;
            font-size: $font-size-xs;
            overflow: hidden;
            
            .library-card-tag{
              @include ellipsis(1);
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }
}